empapp-soap-client/src/main/resources/employees.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://training360.com/services/empapp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EmployeeWebService" targetNamespace="http://training360.com/services/empapp">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://training360.com/services/empapp" elementFormDefault="qualified" targetNamespace="http://training360.com/services/empapp" version="1.0">

  <xs:element name="listEmployees" type="tns:listEmployees"/>

  <xs:element name="listEmployeesResponse" type="tns:listEmployeesResponse"/>

  <xs:complexType name="listEmployees">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listEmployeesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="employeeResponse" type="tns:listEmployeesRespons"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listEmployeesRespons">
    <xs:sequence>
      <xs:element minOccurs="0" name="employees">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="employee" type="tns:employee"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="listEmployeesResponse">
    <wsdl:part element="tns:listEmployeesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listEmployees">
    <wsdl:part element="tns:listEmployees" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeeWebService">
    <wsdl:operation name="listEmployees">
      <wsdl:input message="tns:listEmployees" name="listEmployees">
    </wsdl:input>
      <wsdl:output message="tns:listEmployeesResponse" name="listEmployeesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeWebServiceSoapBinding" type="tns:EmployeeWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listEmployees">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listEmployees">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listEmployeesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeWebService">
    <wsdl:port binding="tns:EmployeeWebServiceSoapBinding" name="EmployeeWebServicePort">
      <soap:address location="http://localhost:8080/services/employees"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>